<div>
	<div class="container">
		<h5>LALALALA</h5>
		<a href="/start_registration"><button class="btn">Register</button></a>
		<a href="/start_authentication"><button class="btn">Authenticate</button></a>
	</div>
</div>
