{{!-- Authentication --}}
<script type="text/javascript">
	$( document ).ready(function() {

		$("#start-auth").show();
		$("#finish-auth").hide();
		$("#auth-fail").hide();
		$("#timeout").hide();

		var request =  JSON.parse($('#data-div').text());
		var signRequest = setTimeout(function() {
			// sign the [request] from the server using the YubiKey
		    u2f.sign([request], function(res){
		        if(res.errorCode) {
		        	if(res.errorCode === 5){
		        		$("#timeout").show();
		        		console.log("Timeout");
		        	}
		            console.log("U2F failed with error code: " + res.errorCode);
		            return;
		        }
		        
		       	$.ajax({
					type: 'POST',
					url: '/finish_authentication',
					data: {
						data: res,
						username: localStorage.getItem('username')
					}
				}).done(function(response) {
					if(response){
						// Success
						$("#start-auth").hide();
						$("#finish-auth").show();
						$('#data-output').html("<p style='color: darkgrey; font-size: 22px; margin-top:0;''>"+
												"Data received from Yubico key by client<br>"+
												"<br><b>keyHandle:</b><br>"+JSON.stringify(res.keyHandle)+
												"<br><b>clientData:</b><br>"+JSON.stringify(res.clientData)+
												"<br><b>signatureData:</b><br>"+JSON.stringify(res.signatureData)+
												"<br><b>publicKey:</b><br>"+JSON.stringify(response.publicKey)
												);
					}
					else {
						// Fail
						$("#start-auth").hide();
						$("#auth-fail").show();
					}
				});
			});
		}, 1000);

	});
</script>

{{!-- Hack to get data from server --}}
<div id="data-div"class="hidden" style="display: none;">{{data}}</div>


<style>
.fido{
	position:relative; 
	z-index:10;
}

#finger-img {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  width: 200px;
  position:relative; 
	z-index: 100; 
	top: 25px; 
	left: -150px;
}

@keyframes slidein {
  from {
    margin-left: 10%;
    
  }

  to {
    margin-left: 0%;
    
  }
}
</style>

<div style="text-align: center;">

	<div id="start-auth" class="container">
		<i class="material-icons" style="color: darkgrey; font-size: 40px; margin-bottom: 0px; margin-top:40px;">looks_one</i>
		<p style="color: darkgrey; font-size: 25px; margin-top:0;">Please insert and touch your Yubico key for authentication...</p>
		<br/>
		<img src='/images/fido.png' width=300 class="fido">
		<img id="finger-img" src='/images/finger.png' class="finger">
	</div>

	<div id="timeout" class="container">
			<p style="font-style: italic; padding: 5px 0 0 0;">Timeout! - Refresh the page to try authorication again</p>
	</div>

	<div id="finish-auth" class="container">
		<i class="material-icons" style="color: darkgrey; font-size: 100px; margin-bottom: 0px; margin-top:40px;">check</i>
		<h4 style="color: green;">User authenticated!</h4>

		<div id="data-output" class="row center-align" style="background-color: #ECECEC; border-radius: 5px; padding: 15px 15px; margin-top: 40px; word-wrap: break-word;">
		</div>

		<a href="/" class="btn">Go back</a>
	</div>

	<div id="auth-fail" class="container">
		<h2 style="color: red;">Error - Authentication failed!</h2>
	</div>

</div>
