<style>
.fido{
	position:relative; 
	z-index:10;
}

#finger-img {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  width: 200px;
  position:relative; 
	z-index: 100; 
	top: 25px; 
	left: -150px;
}

@keyframes slidein {
  from {
    margin-left: 10%;
    
  }

  to {
    margin-left: 0%;
    
  }
}
</style>

<div style="text-align: center;">
	<div id="before-div" class="container">
		<i class="material-icons" style="color: darkgrey; font-size: 40px; margin-bottom: 0px; margin-top:40px;">looks_one</i>
		<p style="color: darkgrey; font-size: 25px; margin-top:0;">Touch your key now to register!</p>
		<br/>
		<img src='/images/fido.png' width=300 class="fido">
		<img id="finger-img" src='/images/finger.png' class="finger">
		
	</div>
	<div id="after-div" class="container">
		<p>You have now successfully registered your device!</p>
		<a href="/" class="btn">Tilbage</a>
	</div>

</div>

<script type="text/javascript">

	$( document ).ready(function() {
		$('#after-div').hide();

		var data = JSON.parse($('#data-div').text());
		setTimeout(function() {
			u2f.register([data], [], function(res) {
				console.log(res);				
				$.ajax({
					type: "POST",
					url: '/finish_registration',
					data: {
						data: res,
						username: localStorage.getItem('username')
					}
					}).done(function(response) {
						if(response){
							// Success
							$('#after-div').show();
							$('#before-div').hide();
							localStorage.setItem('registered', true);
						}
						else {
							// Failing is not an option
						}
					});
			});
		}, 1000);
	});
	
</script>

<div id="data-div" style="display: none;">{{data}}</div>

<!-- ASASDASD -->