<div style="text-align: center;">
	<div class="container">
	<h2>START REGISTRATION</h2>
		
</div>

<script type="text/javascript">
	$( document ).ready(function() {
		var data = JSON.parse($('#data-div').text());
		setTimeout(function() {
			u2f.register([data], [], function(res) {
				console.log(res);
				$.ajax({
					type: "POST",
					url: '/finish_registration',
					data: {
						data: res,
						username: localStorage.getItem('username')
					}
					}).done(function(response) {
						if(response){
							// Success
						}
						else {
							// Fail
						}
					});
			});
		}, 1000);
	});
		
</script>

<div id="data-div" class="hidden">{{data}}</div>

<!-- ASASDASD -->