{{!-- Authentication --}}
<script type="text/javascript" src="https://demo.yubico.com/js/u2f-api.js"></script>
<script type="text/javascript">
	$( document ).ready(function() {

	});
	
	var request = ${data};
	setTimeout(function() {
	    u2f.sign(request.authenticateRequests,
		    function(data) {
		        if(data.errorCode) {
		            alert("U2F failed with error code: " + data.errorCode);
		            return;
		        }
		        document.getElementById('tokenResponse').value = JSON.stringify(data);
		        document.getElementById('username').value = localStorage.getItem("username");
		        document.getElementById('form').submit();
		    });
	}, 1000);

</script>



<div style="text-align: center;">
	<div class="container">
	<h2>Start authentication</h2>
	<p>Please insert you Yubikey for authentication</p>
		<form method="POST" action="finish_authentication" id="form">
            <input type="hidden" name="tokenResponse" id="tokenResponse"/>
            <input type="hidden" name="username" id="username" value=""/>
        </form>
	</div>
</div>

