{{!-- Authentication --}}
<script type="text/javascript">
	$( document ).ready(function() {

		$("#start-auth").show();
		$("#finish-auth").hide();
		$("#auth-fail").hide();

		var request =  JSON.parse($('#data-div').text());
		var signRequest = setInterval(function() {
			console.log(request);
		    u2f.sign([request], function(res) {
		    	console.log(res);
		        if(res.errorCode) {
		            console.log("U2F failed with error code: " + res.errorCode);
		            return;
		        }

		        clearInterval(signRequest);

		       	$.ajax({
					type: 'POST',
					url: '/finish_authentication',
					data: {
						data: res,
						username: localStorage.getItem('username')
					}
				}).done(function(response) {
					if(response){
						// Success
						$("#start-auth").hide();
						$("#finish-auth").show();
					}
					else {
						// Fail
						$("#start-auth").hide();
						$("#auth-fail").show();
					}
				});
			});
		}, 1000);

	});
</script>

<div id="data-div"class="hidden" style="display: none;">{{data}}</div>

<div style="text-align: center;">
	<div id="start-auth" class="container">
		<h2>Start authentication</h2>
		<p>Please insert and hold your Yubikeykey for authentication</p>
		
	</div>
	
	<div id="finish-auth" class="container">
		<h2>User authenticated!</h2>
	</div>

	<div id="auth-fail" class="container">
		<h2>Error - Authentication failed!</h2>
	</div>
</div>

